@model GlobalCityManager.Models.Country

<h2>Create Country</h2>

@using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(x => x.Code) @Html.TextBoxFor(x => x.Code) <br />
    @Html.Partial("CountryDetails")
    <input type="submit" value="Submit" /> <br />
}