@model GlobalCityManager.Models.CreateCityViewModel

<h2>Create City</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.Partial("CityDetails")
    <input type="submit" value="Submit" /> <br />
}